.imageupload {
  position: sticky;
  bottom: 0;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  max-width: 515px;
  /* width: 80%; */
  border-top: 5px dotted lightgray;
  margin: 10px auto;
  padding-bottom: 20px;
}

.enter-caption {
  height: 25px;
}

.imageupload h3 {
  text-align: center;
}

.imageupload-progress {
  width: 100%;
}

input[type=file]::file-selector-button {
  border: 2px solid #000000;
  color: white;
  padding: .2em .4em;
  border-radius: 13px;
  background-color: #000000;
  transition: 1s;
  margin-top: 4px;
}

input[type=file]::file-selector-button:hover {
  background-color: #aba8a8;
  color: black

}