.post {
  background-color: white;
  max-width: 500px;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}

.post-image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post-text {
  font-weight: normal;
  padding: 15px;
  padding-top: 5px;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post-avatar {
  margin-right: 10px;
}

.post-commentBox {
  display: flex;
  margin-top: 10px;
}

.post-comments {
  padding: 20px;
  padding-right: 0px;
  border-bottom: 1px solid lightgray;
}

.post-comment-p {
  /* border-bottom: 1px solid lightgray; */
  margin-top: 3px;
  
}

.post-input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.post-button {
  flex: 0;
  border: none;
  color: #6082a3;
  background-color: transparent;
  border-top: 1px solid lightgray;
}

.post-button:hover {
  font-weight: 900;
}

.delete-comment {
  flex: 0;
  float: right;
  border: none;
  color: #f33232;
  background-color: transparent;
  
}

.delete-comment:hover {
  font-weight: 900;
}

.delete-upload {
  padding: 2px;
  flex: 0;
  float: right;
  border: none;
  background-color: transparent;
  color: #f33232;
  /* border: 1px #f33232 solid; */
  border-radius: 3px;
  margin-left: 320px;
}

.delete-upload:hover {
  background-color: #f33232;
  flex: 0;
  float: right;
  border: none;
  color: white;
  border: 1px #f33232 solid;
  margin-left: 320px;
}

.edit-button {
  flex: 0;
  float: right;
  border: none;
  color: #f3b632;
  background-color: transparent;
  
}

.edit-button:hover {
  font-weight: 900;
}

.trashcan {
  width: 30px;
}

.icons-container {
  display: flex;
  flex-direction: row;

}

.icons {
  height: 28px;
  width: 28px;
  margin: 3px;
  margin-left: 8px;
}

.icons.dm {
  margin-left: 2px;
  margin-top: 3px;
}

.icons-bookmark {
  height: 28px;
  width: 28px;
  margin: 3px;
  padding-right: 15px;
  margin-left: auto;
  
}