* {
  margin: 0;
  font-family: sans-serif;
}

.app {
  background-color: #FAFAFA;
}

.app-posts {
  padding: 20px;

  display: flex;
  justify-content: center;
}

.app-postsRight {
  margin-left: 10px;
  height: 1000px;
  width: 500px;
  background-color: lightgreen;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app-headerImage {
  object-fit: contain;
}

.app-signup {
  display: flex;
  text-align: center;
  flex-direction: column;
}